$primary-color-bak: #3b51b4;
$primary-color: #7388e8;
$primary-title-color: #303133;
$primary-text-color: #606266;
$primary-desc-color: #909399;

$flow-status-archived-color: #7f7f7f;
$flow-status-start-color: #FF7070;
$flow-status-progress-color: #fc984b;
$flow-status-test-color: #2f99ec;
// $flow-status-end-color: #0bc037;
$flow-status-end-color: #6782ee;
